.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #000;
}

.scrollbar::-webkit-scrollbar-thumb {
    /*background-color: #607d8b;*/
  background-color: white;
}

.markdown img {
	width: 100%;
}

.markdown a {
	color: black;
}

a {
	color: cadetblue;
}

.MuiInput-underline:after {
	border-bottom: 2px solid black !important;
}

.MuiFormLabel-root-297.MuiFormLabel-focused-298 {
	color: black !important;
}