.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #000;
}

.scrollbar::-webkit-scrollbar-thumb {
    /*background-color: #607d8b;*/
  background-color: white;
}

.markdown img {
	width: 100%;
}

.markdown a {
	color: black;
}